<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>openHtml</title>
    <style>
        body{
            background-color: rgb(139, 161, 182);
            color: #0b0b0b;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1.2rem;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Read That file <%=name%> <%=lastName%></h1>
    <!-- Object Object-->
    <!-- <h1>Hello <%=locals%></h1> -->

    <h1>Locally assign <%=locals.name%></h1>
</body>
</html>